@model IEnumerable<MVC.Models.Tramite>

@{
    ViewBag.Title = "Index";
}

<<<<<<< HEAD
<h2>Index</h2>
=======
<h2>Index Trámite</h2>
>>>>>>> 8eb55b2475a46c8a1cf47426a1b5f19e0e29907a

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tramitador.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tramitador.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idtramite }) |
            @Html.ActionLink("Details", "Details", new { id=item.idtramite }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idtramite })
        </td>
    </tr>
}

</table>
<<<<<<< HEAD
=======


    <a href="http://localhost:54708/Tramite_condinero/Create" class="myButton">Generar Orden Con dinero</a>
    <br>    
    <a href="http://localhost:54708/Tramite_sindinero/Index" class="myButton">Generar Orden Sin dinero</a>

   
>>>>>>> 8eb55b2475a46c8a1cf47426a1b5f19e0e29907a
